.blogEntry {
	background: #abcdef;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 20px;
}

.blogEntry h1 {
	font-size: 1.5em;
}

.blogEntry h2 {
	font-size: 1.1em;
}
